<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"> 
        <script src="/js/app.js">
        </script>
        <title>Title page</title>
    </head>

    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p> Created By {{name}}</p>

        {{>footer}}
    </body>
</html>